@charset "UTF-8";
.csarea {
    /* 챙겨가야하는 놈 */
    /* 카테고리 + 컨텐츠 영역 flex 용도 */
    display: flex;
}
.content {
    /* 챙겨가야하는 놈 */
    width: 72%;
    margin-left : 15px;
    margin-right : 15px;
}

/* 컨텐츠 헤더 */
.commu_header {
    height: 70px;
    display : flex;
    justify-content : space-between;	
    align-items: center;
    margin: 0px 0px 10px 0px;
    padding-left: 30px;
    padding-right: 30px;
} 
.commu_header div:first-child {
    font-size: 1.1rem;
    font-weight : bold;
}

/* 멘트 */
.commu_ment ul li {
    margin-left: 60px;
    line-height: 30px;
    font-size: 0.8rem;
}

/* 작성 영역*/
.commu_info {
    margin: 20px 30px 20px 30px;
}

.commu_warea, .commu_titlearea, .commu_contentarea {
    border-top: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.commu_contentarea {
    border-bottom: 1px solid lightgray;
}

.commu_w, .commu_title, .commu_content {
    width: 20%;
    text-align: center;
    background: rgb(239, 239, 239);
    font-size: 0.95rem;
    font-weight: bold;
    border-right: 1px solid lightgray;
}

.commu_writer, .commu_title2, .commu_content2 {
    width: 80%;
}

/* span태그 세로가운데는 line-height로 맞추기 */
/* 작가선택 영역 */
.commu_w {
	line-height: 50px;
}

.commu_writer {
	font-size: 0.9rem;
	width : 40%;
	padding : 0 10px;
}

/* 문의제목 영역 */
.commu_title {
    line-height: 50px;
}

.commu_title2 input {
    width: 96%;
    height: 30px;
    border: 1px solid rgb(239, 239, 239);
    margin: 0px 10px;
    padding-left : 10px;
    font-size: 0.9rem;
}

/* 문의내용 영역 */
.commu_content {
    line-height: 336px;
}

.commu_content2 textarea {
    width: 96%;
    height: 310px;
    border: 1px solid rgb(239, 239, 239);
    margin: 10px 10px;
    resize: none;
    padding-left : 10px;
    font-size: 0.9rem;
}


/* 취소/등록 버튼 */
.commu_btn {
    display : flex;
    justify-content : center;	
    align-items: center;
}
.commu_btn button {
    margin: 20px;
    margin-bottom: 60px;
    width: 90px;
    height: 35px;
    font-size: 0.85rem;
    background: rgb(73, 125, 78);
    color: white;
    font-weight : bold;
}

.commu_btn button:hover {
    background-color: rgb(196, 217, 195);
    color: black;
}