@charset "UTF-8";

.csarea {
    /* 챙겨가야하는 놈 */
    /* 카테고리 + 컨텐츠 영역 flex 용도 */
    display: flex;
}
.content {
    /* 챙겨가야하는 놈 */
    width: 72%;
   	margin-left : 15px;
    margin-right : 15px;
}

/* 컨텐츠 헤더 */
.winfo_header {
    height: 70px;
    display : flex;
    justify-content : space-between;	
    align-items: center;
    margin: 0px 0px 10px 0px;
    padding-left: 30px;
    padding-right: 30px;
}
.winfo_header div:first-child {
    font-size: 1.1rem;
    font-weight : bold;
}

/* faq 검색창 */
.winfo_search {
    display: flex;
    align-items: center;
}
.winfo_search input {
    border: 3px solid rgb(196, 217, 195);
    border-right : 0px;
    width: 130px;
    height: 26px;
    padding-left: 10px;
    font-size: 0.8rem;
}

.winfo_search button {
    height: 26px;
}

.winfo_search button img {
    width: 23px;
    height: 26px;
    border: 3px solid rgb(196, 217, 195);
    border-left: 0px;  
}

/* 멘트 */
.winfo_mentarea {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.winfo_ment li {
    margin-left: 60px;
    line-height: 30px;
    font-size: 0.8rem;
    list-style: disc; /* 기본 */
}

.winfo_commu_btn button {
    width: 100px;
    height: 40px;
    font-size: 0.9rem;
    font-weight : bold;
    background-color: rgb(73, 125, 78);
    color: white;
    margin-right: 30px;
}
.winfo_commu_btn button:hover {
    background: rgb(196, 217, 195);
    color: black;
}

/* 프로필 */
.w_profilearea {
    margin: 20px 30px;
    padding-top : 20px;
    padding-bottom : 20px;
    display: flex;
    border-top : 1px solid lightgray;
    border-bottom : 1px solid lightgray;
}

.w_profile {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.w_profile img {
	width : 140px;
	height : 140px;
	border-radius: 50%;
}

/* 작가 소개 영역 */
.w_introduce span {
    display: block;
    margin-left : 20px;
}

.w_introduce span:first-child {
    width: 130px;
    border-bottom: 3px dotted rgb(73, 125, 78);
    font-size: 0.95rem;
    font-weight : bold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    /* 사진 가운데로 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.w_introduce span:first-child img {
	display : inline;
	width : 22px;
	height : 22px;
	margin-left : 5px;
	
}

.w_introduce span:last-child {
    font-size: 0.9rem;
    padding-top: 10px;
}
