@charset "UTF-8";
/* csarea + content + footer 화면마다 가져가기!! */
.csarea {
    display: flex;
}

/* 컨텐츠 */
.content {
    width: 72%;
    margin-left : 15px;
    margin-right : 15px;
}

.csctheader {
    height: 70px;
    display : flex;
    justify-content : space-between;	
    align-items: center;
    margin: 0px 0px 20px 0px;
    padding-left: 30px;
    padding-right: 30px;
}

.csctheader span:first-child {
    font-size: 1.1rem;
    font-weight : bold;
}

.csctheader span:last-child {
    font-size: 0.85rem;
}

.ctarea {
    height: 90%;
    position: relative;
}

.ct-area1, .ct-area2, .ct-area3, .ct-area4 {
    width: 280px;
    height: 200px;
    border: 5px solid rgb(73, 125, 78);
    position : absolute
}

.ct-area1 {
    left: 5%;
}

.ct-area2 {
    right: 5%;
}

.ct-area3 {
    top: 40%;
    left: 5%;
}

.ct-area4 {
    top: 40%;
    right: 5%;
}

.ct-top {
    font-size: 0.95rem;
    font-weight : bold;
    color: white;
    height: 35px;
    line-height: 35px;
    border-bottom: 5px solid rgb(73, 125, 78);
    text-align : center;
    background: rgb(73, 125, 78);
}

.ct-list {
    padding: 12px 0px 0px 50px;
    font-size: 0.85rem;
    line-height: 33px;
}

.ct-list li:hover {
    font-weight: bold;
    text-decoration: underline;
}