@charset "UTF-8";

/*콘텐츠의 최대 출력 너비 설정 */


.ct_wrapper {
    min-width : 800px;
    width : 1100px;
    margin : 0px auto;

    /*height:100vh; */
}

.cart_bl {
	width:95%; /*수정*/
	position: inline-block;
	margin-left :5%;
	margin-top: 5%;
	margin-bottom: 10% /*footer랑 간격*/
	
	
}

#order {
    position: relative;
    font-size: 1.3rem;
    font-weight:bold;
    left:10px;
    top:11px;

}


#cart_sel {
	position: relative;
	border:1px solid black;
	left:84%;
	margin-top:10px;
	padding:1px;
	font-size:0.9rem;
}

#delete_btn {
	position: relative;
	border:1px solid black;
	left:83%;

	margin-top:10px;
	margin-bottom:20px;
	padding:1px;
	font-size:0.9rem;
	
}

.btn {
	background:gray;
	padding:7px;
	color:white;
}


.boldft {
	font-weight:bold
}


.hidden {
	display:none;
}



/*-------------------------*/



.od_container {
  display: grid; 
  grid-template-columns : 2fr 1.5fr 1fr;
  grid-gap:0.5rem;
 /* grid-auto-rows:minmax(10em, auto);*/
  background: #f3f3f3;
 /* background:#F2F9F0;*/
  padding-left:40px;
  padding-right:15px;
  padding-top:10px;
  padding-bottom:13px;

  margin-top:0px;
  align-items:center;
  justify-items:left;
  
  border-bottom:solid 2px gray;
  /*border-right:1px solid gray;
  border-left:1px solid gray;*/

}

.od_contain {
  display: grid; 
  grid-template-columns : 2fr 1.5fr 1fr;
  grid-gap:0.5rem;
 /* grid-auto-rows:minmax(10em, auto);*/
  background: #f3f3f3;
  /*background:#F2F9F0;*/
  padding-left:40px;
  padding-right:20px;
 /*padding-top:1px;
  padding-bottom:1px;*/

  margin-top:0px;
  align-items:center;
  justify-items:left;
  
  font-weight:bold;
  
  border-top:solid 2px gray;
  border-bottom:dotted 1px gray;
  
  /*border-right:1px solid gray;
  border-left:1px solid gray;*/

}

.od_info {
	position:relative;
	left:9px;
	margin-top:70px;
	margin-bottom:20px;
	font-weight:bold;
}


.cart_thum {
	width:80px;
}

.item {
	/*align-self:right;
	justify-self:left;*/
	margin:10px;
	margin-left:30px;
	font-size:0.9rem;
	
	
	
}
.o_item{
	margin-left:36px;
	font-size:0.9rem;
	margin-top:2px;
	margin-bottom:2px;
}

.ct_input {
	border:1px solid black;
	background-color:white;
	width:60px;
	height:27px;
}

.od_tt {
	background: #f3f3f3;
	display: grid;
	grid-template-columns: 1fr 4fr;
	padding-left:30px;
	padding-top:15px;
	padding-bottom:15px;
	border-top:1px solid gray;
	
}

.btm_line{
	border-bottom:2px solid gray;
}
.top_tt{
	border-top:2px solid gray;
}
.ct_tt div {
	margin:12px;
	/*margin-left:50px;*/
	font-weight:bold;
}

.c_item {

	align-self:end;
}

#ct_order_btn {
	background:rgb(73, 125, 78);
	padding:20px;
	color:white;
	font-size:1.1rem;
	position: relative;
	left: 47%;
	margin-top: 30px;
}




.address{
	margin-right:10px;
}

.nm_area {
	width:140px;
	height:23px;
	background:white;
	border:1px solid gray;

}

.add_area {
	width:400px;
	height:23px;
	background:white;
	border:1px solid gray;
}

.big_text {
	width:500px;
	height:100px;
	background:white;
	border:1px solid gray;
}


#needPass{
	/*display:none;*/
}

#free{
	/*display:none;*/
}
/*------------------footer--------------*/
.footer2 {
	position:relative;
	height: 67px;
}

footer {
background:rgba(196, 217, 195, 1);
text-align: center;
padding : 26px 0;

position: absolute;
bottom: 0;

width: 100%;

}

footer p {
color: black;
font-size: 0.865rem;
}

