@charset "UTF-8";

html,body {
    font-size: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

.textbox {    
    border : 1px solid rgba(196, 217, 195, 1);
    padding : 15px 35px;
    border-radius: 5px;
}

.textbox2 {
    border : 1px solid white;
    background-color: rgba(196, 217, 195, 1);
    padding : 15px 35px;
    border-radius: 5px;
}

/* center  */
.outer2 {
	width: 50%;
	min-width: 800px;
	height: 600px;
	border: 1px solid white;
	border-radius: 10px;
	margin: 70px auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-center2 {
    width : 1000px;
    height : 600px;
    margin : 800 800;    
    position: absolute;        
    top: 35%;
    left: 50%;    
    transform: translate(-50%, -50%);
    font-size: 13px;
    
    /*
    border : 1px solid black;
    */
}

.outer {
		width:45%;
		min-width : 650px;
		border: 1px solid lightgray;
    	border-radius: 10px;
		margin: 70px auto;
}

.lofdterms {
    border : 1px solid white;
    padding : 30px;
    display: table-caption;
    height: 750px;
}

#lolegend {
    font-size: 20px;
    font-weight: bold;
}

/* 아이디 이메일 저장 */
#remember {
    font-size : 12px;
    font-weight : bold;
}

/* 성별 */
#male2{
	margin-left : 20px;
}

/* 개인정보 라디오 버튼 */
#interest{
	margin-left : 20px;
	margin-right: 5px;
}

#interest2{
	margin-right: 5px;
}


/* 아이디 찾기 버튼*/
.idb {
    width : 145px;
    border : 1px solid rgba(196, 217, 195, 1);
    background-color: white;
    color: red;
    padding : 15px 20px;
    border-radius: 5px;
    /* margin-top: 20px; */
    margin-left : 20px;
    font-weight : bold;
}

/* 비밀번호 찾기 버튼*/
.psb {
	width : 145px;
    border : 1px solid rgba(196, 217, 195, 1);
    background-color: white;
    color: red;
    padding : 15px 20px;
    border-radius: 5px;
    text-align : center;
    margin-left : 20px;
    font-weight : bold;
}
.loginArea {
	display : flex;
}
.loginArea2 {
	display : flex;
	justify-content: center;
	align-items: center;
	margin-top : 20px;
}

/* 로그인 버튼 */
#lobut {
    width : 150px;
    height : 105px;
    background :#497D4E;
    color : white;
    text-align: center;
    font-size : 35px;
    padding : 20px;
    font-weight : bold;
    margin-right : 50px;
}

/* 회원가입 버튼 */
.mbjoin{
    background-color: #c4d9c3;
    color : white;
    font-weight : bold;
    width : 400px;
    height : 75px;
    font-size: 30px;
}

/* 간편로그인 */
.imgdiv {
	display : flex;
	justify-content: center;
	align-items: center;
}
.naverlogo, .kakaologo {
    width : 60px;
    height : 60px;
    margin-top : 30px;
}
.naverlogo {
	margin-right : 20px;
}



/* 회원가입 */
/* 회원가입 테이블 */
.lotb{
    border-spacing: 10px;
}

.lotb2{
	border-spacing: 10px;
}

.postcodify_postcode5{
	width : 100px;
	height : 30px;
	border : 1px solid gray;
	padding: 10px;
}

.postcodify_address{
	width : 300px;
	height : 30px;
	border : 1px solid gray;
	padding: 10px;
}

.postcodify_extra_info{
	width : 300px;
	height : 30px;
	border : 1px solid gray;
	padding: 10px;
}

#postcodify_search_button{
	width: 100px;
    background: #497d42;
    color: white;
    height: 30px;
    font-weight: bold;
}


/* 회원가입 텍스트박스 */
.lomb {
    border : 1px solid gray;
    height : 30px;
    padding: 10px;
}

#lomb2 {
	border : 1px solid gray;
	height : 30px;
}

#emailSelection{
	width : 80px;
	border : 1px solid gray;
	height : 30px;
	text-align : center;
	padding-right: 10px;
	margin-left : 10px;
}

/* 중복확인 */
#idCheck {
    width: 100px;
    background: #497d42;
    color: white;
    height: 30px;
    font-weight: bold;
    margin-left : 60px;
}

buttom{
	/*
	border : 1px solid #497D4E;
    background : #497D4E;
    color : white;
    width : 100px;
    height : 20px;
    */
    width : 100px;
	height : 35px;
	border : 0px;
	color:white;
	background:#282A35;
	margin : 5px;
	cursor : pointer;
}

/* 개인정보 띄우기 */
.id_name{
	padding-left : 20px;
}

.privacy{
	padding-right: 41px;
}

/* 주소 띄우기 */
.address_name{
	padding-left : 55px;
	padding-right : 88px;	
}

/* 회웝가입 버튼 */
.joinme {
    width : 300px;
    height : 100px;
    position : absolute;
            top : 662px;
            left : 600px;
    background :#497D4E;
    color : white;
    text-align: center;
    font-size : 40px;
    padding : 20px;
    cursor : pointer;
}

/* 약관 텍스트 */
.termstext{
    font-size : 8px;
    color : gray;
    padding-left : 46px;
}

/* 아이콘 크기 */
.terms{
    width : 14px;
    height : 14px;
}

/* footer */
/*
footer {
    background: #c4d9c3;
    text-align: center;
    padding : 20px 0;
    padding-bottom: 30px;
    margin-top: 800px;
}
*/

/* 아이디 찾기 화면 (id.html) */
.id0{
	min-height: 75%; 
    position: relative;
}

.id000{
	min-height: 100%; 
    position: relative;
}
/* 아이디 찾기 center div 1*/
.id1 {
    border : 4px solid #497D4E;
    width : 650px;
    height : 570px;
    margin : 800 800;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size : 20px
}

/* 아이디 찾기 center div 2*/
.id2 {
    border : 4px solid rgba(196, 217, 195, 1);
    width : 600px;
    height : 450px;
    margin : 800 800;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style-position: inside;
    text-indent: 20px;
    margin-top : 10px;
    padding-top : 10px;
    line-height: 25px;
}

/* 아이디 찾기 결과 */
.outerid{	
	width: 50%;
	min-width: 400px;
	height: 600px;
	border: 1px solid white;
	border-radius: 10px;
	margin: 70px auto;
	height: 58vh;
	justify-content: center;
	align-items: center;
}

#searchh1{
	text-align : center;
}

#userId{
	margin-top : 30px;
	font-size: 15px;
	font-weight: bold;
}

#updatePwdBtn{
	    height: 50px;
    background: #497d4e;
    color: white;
    font-weight: bold;
}

/* 가입 여부 확인하기*/
#searchIdForm {
    background : #497D4E;
    color : white;
    width : 230px;
    height : 50px;
}

/* 이메일로 문의하기 */
#emailquestion {
    background : #497D4E;
    color : white;
    font-weight : bold;
    width : 120px;
    height : 30px;
    font-size : 14px;
    margin-bottom : 10px;
    margin-left : 30px;
}

#searchreturn{
	background : #497D4E;
    color : white;
    font-weight : bold;
    width : 180px;
    height : 50px;
    font-size : 18px;
    margin-bottom : 10px;
    margin-left : 30px;
}

#searchIdUpdateForm{
	background : #497D4E;
    color : white;
    font-weight : bold;
    width : 180px;
    height : 50px;
    font-size : 18px;
    margin-bottom : 10px;
    margin-left : 30px;
}

/* 로그인 필요 없음*/
#idnologin{
    font-size : 12px;
    padding-left: 443px;
    padding-to: 10px;    
}

.id3 {
    text-align: center;
}

.id1text{
    border: 1px solid black;
    width: 200px;
    height: 30px;
}

/* 아이디 찾기 화면2 (id2.html) */
.id2pagebut {
    width : 150px;
    height : 40px;
    background: #497D4E;
    color : white;
}

/* 비밀번호 찾기 화면(password.html) */
/* checked */
.psreset {    
    font-size : 10px;
	width : 150px;
	height : 40px;
	background: white;
}

/* 비밀번호 찾기 center div*/
.ps1 {
    border : 4px solid #497D4E;
    width : 650px;
    height : 610px;
    margin : 800 800;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size : 20px;
    padding-top : 10px;
}

/* 비밀번호 찾기 center div 2*/
.ps2 {
    border : 4px solid rgba(196, 217, 195, 1);
    width : 600px;
    height : 490px;
    margin : 800 800;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style-position: inside;
    text-indent: 5px;
    margin-top : 20px;
}

/* 비밀번호 찾기 화면 2(passwrord2.html)*/
/* 비밀번호 찾기 center div*/
.ps3 {
    border : 4px solid #497D4E;
    width : 650px;
    height : 550px;
    margin : 800 800;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size : 20px;
    padding-top : 5px;
}

/* 비밀번호 찾기 center div 2*/
.ps4 {
    border : 4px solid rgba(196, 217, 195, 1);
    width : 600px;
    height : 460px;
    margin : 800 800;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style-position: inside;
    text-indent: 5px;
    
}

.id4div{
	padding-left: 10px;
	line-height : 20px;
}

/* 비밀번호 재설정 설명 */
#ps2explanation{
    text-align: left;
    color : red;
}

/* 비밀번호 찾기 아이디,이름,이메일 */
.psid{
	margin-left : 56px;
}

.psname{
	margin-left : 56px;
}

.psemail{
	
}
/*--------------------------------------------------------------------*/
/* 이메일 상담 div */
.emailconsulting {
    border : 4px solid #c4d9c3;
    width : 750px;
    height : 680px;
    margin : 800 800;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size : 15px;
    line-height : 20px;
}

#emailh1{
	margin : 10px;
}

/* 이메일 테이블 */

.emailtable{    
    border-spacing: 10px;
    border-collapse: separate;
}


/* 테이블 th 사이즈*/
.emailtable th{
    /* border : 1px solid black; */
    width : 100px;
}

/* 테이블 textbox*/
.emailaddress {
    border : 1px solid black;
    width : 400px;
    height : 40px
}

/* 로그인 적는곳 */
#loginid{
	margin-bottom: 10px;
	width : 300px;
	margin-left : 30px;
}

#loginps{
	width : 300px;
	margin-left : 30px;
}

/* 문의 내용 */
#emailarea{
    border : 1px solid black;
    width : 600px;
    height : 200px;
}

/* 이메일 접수하기 버튼 */
.emailbut{
    background : #497D4E;
    color : white;
    width: 100px;
    height: 40px;
    position: absolute;
    top: 84%;
    right: 48%;
    font-weight : bold;
}

/* 에러페이지 */
#errorc{
	    height: 70vh;
}

#imageArea {
	width : 400px;
	margin : 80px auto;
	display : flex;
	justify-content : center;
	align-tiem : center;
}

#imageArea img {
	width : 100%;
}

#msgArea{
	text-align : center;
}

#idUserName{
	color : red;
	text-align : center;
	font-size: 15px;
}

#idUserId{
	text-align : center;
}

#idButton{
	margin-left : 70px;
	margin-top : 20px;
}

.servicec{
	margin-left : 20px;
	margin-right: 175px;
}

.errordiv{
	height: 59vh;
}

/*--------------------------------------------------------------------*/
footer {
background:rgba(196, 217, 195, 1);
text-align: center;
padding : 26px 0;

position: absolute;
bottom: 0;
width: 100%;
}

footer p {
color: black;
font-size: 0.865rem;
}

.footer2 {
	/* 챙겨가야하는 놈 */
	position: relative;
	height: 67px;
	margin : 0 auto;
}


/*--------------------------------------------*/
/* 이용약관 */

.h2{
	font-size : 17px;
	padding-left : 20px;
	margin-bottom : 20px;
	text-align: left;
}

#personal{
	margin-top: 40px;
}

.agree{
	border : 1px solid #e6e6e6;
}

.agree > div {
	overflow: auto;	
	height: 124px;
	padding : 26px 19px;
	font-size : 13px;
	line-height: 16px;
}

.agree > p { 
	height: 43px;
	background: #f8f8f8;
	border-top: 1px solid #e6e6e6;
	line-height : 43px;
	font-size : 13px;
	color: #222;
	text-indent: 19px;
}

#agreement{
	height: 43px;
    line-height: 43px;
    font-size: 13px;
    color: #222;
    text-indent: 19px;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.butdiv{
	text-align: center;
}

.termsbut{
	height : 35px;
	width : 90px;
	font-size: 18px;
	font-weight: bold;
	background: #497D4E;
	color: white;
	margin-right: 30px;
}