@charset "UTF-8";
.wrapper{
	height: 100vh;
}

.csarea {
    /* 챙겨가야하는 놈 !*/
    /* 카테고리 + 컨텐츠 영역 flex 용도 */
    display: flex;
}
.content {
    /* 챙겨가야하는 놈 */
    width: 72%;    
}

.orderheader {
   /*  height: 70px;
    display : flex;
    justify-content : space-between;	
    align-items: center; */
    margin: 25px 0px;
    margin-bottom : 40px;
    padding-left: 30px;
    padding-right: 30px;
} 
.hArea {
	display : flex;
	align-items: baseline;
}
h4, h5 {
	padding-left: 30px;
    margin-bottom : 10px;
}

.order {
	display : flex;
	justify-content : center;	
    align-items: center;
    margin : 0 30px;
}

.date, .orderNo, .orderInfo, .delivery,
.deliveryNum, .change {
	font-size : 0.95rem;
	font-weight : bold;
	line-height : 50px;
	background : lightgray;
	text-align : center;
	border : 1px solid gray;
	border-left : 0px;
}
.date2, .orderNo2, .orderInfo2, .delivery2,
.deliveryNum2, .change2 {
	font-size : 0.9rem;
	line-height : 50px;
	text-align : center;
	border-bottom : 1px solid gray;
	border-right : 1px solid gray;
}
.date, .date2 {
	/* width : 12%; */
	width : 15%;
}
.orderNo, .orderNo2 {
	width : 18%;
}
.orderInfo, .orderInfo2 {
	width : 39%;
}
.delivery, .delivery2 {
	width : 10%;
}
.deliveryNum, .deliveryNum2 {
	/* width : 15%; */
	width : 18%;
	border-right : 0px;
}
/* .change, .change2 {
	width : 10%;
	border-right : 0px;
}
 */




