@charset "UTF-8";
.csarea {
    /* 챙겨가야하는 놈 */
    /* 카테고리 + 컨텐츠 영역 flex 용도 */
    display: flex;
}
.content {
    /* 챙겨가야하는 놈 */
    width: 72%;
    margin-left : 15px;
    margin-right : 15px;    
}

.wrapper{
	height: 100vh;
}

/* 컨텐츠 헤더 */
.return_header {
    height: 70px;
    display : grid;	
    align-items: center;
    margin: 0px 0px 10px 0px;
    padding-left: 30px;
    padding-right: 30px;
}

#header_name{
	padding-bottom : 10px;
	font-size : 25px;
}

.return_header div:first-child {
    font-size: 1.1rem;
    font-weight : bold;
}

/* header ul 속성 */
.return_header_ul{
	font-size: 10px;
	font-weight : bold;
	padding-left : 30px;
}

/* 반품내역 */
.center_to{
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    padding-left: 40px;
}

.topline2 {
    border-bottom: 2px solid;
    color: #1b6bbb;
    margin-left: 40px;
    margin-right: 30px;
}

#tab02 {
    width: 300px;
    height: 40px;
    border : 1px solid #1b6bbb;
    background: #1b6bbb;
    color: black;
    text-aling : center;
    padding-left: 35px;
    padding-top:10px;
}

/* 경고 */
.returnlabel{
	margin-left : 140px;
	font-weight : bold;
	font-size: 15px;
	color:red;
}

/* 리스트 top 영역 */
.return_area1 {
    margin: 30px 30px 10px 30px;
    display: flex;
    justify-content : space-between;	
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
}

/* 리스트 */
.return_area2 {
    margin: 0px 30px 10px 30px;
    border-left : 1px solid lightgray;
    text-align: center;
    font-size : 10px;
}

.return_listarea ul {
    display: flex;
    justify-content : space-between;	
    align-items: center;
    text-align: center;
    border-bottom: 1px solid lightgray;
    list-style: none;
}
.return_listtop {
    background: rgb(239, 239, 239);
    font-weight: bold;
    text-align: center;
    text-size: 10px;
}

.return_listarea {
    border-top: 1px solid lightgray;
}

.return_listarea ul li {
    height: 50px;
    line-height: 50px;
}

/* 접수일 */
.return_receipt {
    width: 9%;
    border-right: 1px solid lightgray;  
}

/* 구분 */
.return_division {
    width: 5%;
    border-right: 1px solid lightgray;
}

/* 반품시한 */
.return_return {
    width: 9%;
    border-right: 1px solid lightgray;    
}

/* 원주문번호 */
.return_no {
    width: 12%;
    border-right: 1px solid lightgray;    
}

/* 상품명 */
.return_product {
    width: 17%;
    border-right: 1px solid lightgray;    
}

/* 회송방법 */
.return_forward {
    width: 7%;
    border-right: 1px solid lightgray;    
}

/* 환불방법 */
.return_refund {
    width: 7%;
    border-right: 1px solid lightgray;    
}

/* 처리상태 */
.return_process {
    width: 8%;
    border-right: 1px solid lightgray;    
}

/* 조회/변경/취소 */
.return_change {
    width: 15%;
    border-right: 1px solid lightgray;    
}

/* 영수증 출력 */
.receipt{
	height: 70px;
    display : grid;	
    align-items: center;
    margin: 0px 0px 10px 0px;
    padding-left: 30px;
    padding-right: 30px;
    color: red;
    font-size : 20px;
}

.receipt div:first-child {
    font-size: 1.1rem;
    font-weight : bold;
}

/* header ul 속성 */
.receipt_ul{
	font-size: 8px;
	font-weight : bold;
	padding-left : 30px;
	color : black;
}

.title2 {
	text-align : left;
	padding: 0 10px;
}

input[type="radio"] { display:none; } /* input을 안보이게 처리 */

input[type="radio"] + label {
    display:inline-block; 
    width:253.8px; 
    padding:12px; 
    border: #1b6bbb 3px solid; 
    border-bottom: #1b6bbb; 
    color:white; 
    background-color:#1b6bbb; 
    font-size:13px;
    cursor:pointer;
    text-align: center;
} /* label에 대한 버튼속성 */

.return_tab{
	display:inline-block; 
    width:253.8px; 
    padding:12px; 
    border: #1b6bbb 3px solid; 
    border-bottom: #1b6bbb; 
    color:white; 
    background-color:#1b6bbb; 
    font-size:13px;
    cursor:pointer;
    text-align: center;
}


input[type="radio"]:checked + label {
    background:white; 
    color:#000;
}

#tab01, #tab02{
	background-color:#1b6bbb; 
}

input[id="tab01"]:checked ~ .con1 {display:block;} /* 인풋에 체크가 해당 요소보이게 설정 */
input[id="tab02"]:checked ~ .con2 {display:block;}

/* 마우스 오버시 */
.review_list:hover {
    background: #f3f5f7;
}