@charset "UTF-8";
.wrapper{
	height: 100vh;
}

.csarea {
    /* 챙겨가야하는 놈 !*/
    /* 카테고리 + 컨텐츠 영역 flex 용도 */
    display: flex;
}
.content {
    /* 챙겨가야하는 놈 */
    width: 72%;    
}

.orderheader {
   /*  height: 70px;
    display : flex;
    justify-content : space-between;	
    align-items: center; */
    margin: 25px 0px;
    margin-bottom : 40px;
    padding-left: 30px;
    padding-right: 30px;
} 
.hArea {
	display : flex;
	align-items: baseline;
}
h4{
	padding-left: 30px;
    margin-bottom : 10px;
}
p {
	padding-left: 10px;
	font-size : 0.85rem;
}
.order, .orderlist {
	display : flex;
	justify-content : center;	
    align-items: center;
    margin : 0 30px;
    list-style: none;
}

.date, .orderNo, .orderInfo, .delivery,
.deliveryNum, .change {
	font-size : 0.95rem;
	font-weight : bold;
	line-height : 50px;
	background : lightgray;
	text-align : center;
	border : 1px solid gray;
	border-left : 0px;
}
.date2, .orderNo2, .orderInfo2, .delivery2,
.deliveryNum2, .change2 {
	font-size : 0.9rem;
	line-height : 50px;
	text-align : center;
	border-bottom : 1px solid gray;
	border-right : 1px solid gray;
}
.date, .date2 {
	width : 15%;
}
.orderNo, .orderNo2 {
	width : 15%;
}
.orderInfo, .orderInfo2 {
	width : 40%;
}
.delivery, .delivery2 {
	width : 15%;
}
.delivery2 {
	font-weight : bold;
}
.change, .change2 {
	width : 15%;
	border-right : 0px;
}
.change2 {
	font-weight : bold;
}

 
/* 리스트 마우스 오버시 */
.orderlist:hover {
    background: #f3f5f7;
    font-weight : bold;
    cursor : pointer;
}

/* 페이징 영역 */
.pagingarea {
	margin: 10px 30px;
	margin-bottom : 80px;
	height : 50px;
	display : flex;
	justify-content : center;
    align-items: center;
}
.pagingarea ul {
	list-style : none;
	display : flex;
	justify-content : center;
    align-items: center;
    width : 400px;
    height : 50px;  
}

.pagingarea ul li {
	width: 40px;
	text-align : center;
}

.current_page {
	border-bottom: 2px solid black;
	font-weight: bold;
}


