@charset "UTF-8";

.wrapper {
    min-width : 800px;
    width : 1100px;
    margin : 0px auto;
}

.content {
    display : flex;
}

#category {
    width : 18%;
    height : 500px;
    background : rgb(196, 217, 195);
}
        
.q-search {
    text-align : center;
    height : 70px;
    display : flex;
    justify-content : center;	
    align-items: center;
    font-size : 1.2rem;
    font-weight : bold;
    background : white;
    border : solid 5px rgb(196, 217, 195);
}

.q-list {
    padding: 0px; 
    border : solid 5px rgb(196, 217, 195);
}

.q-list li {
    list-style : none;
    text-align : left;
    line-height: 3.5rem;
    font-size: 1rem;
    font-weight : bold;
    padding-left: 30px;
}

.q-list li:hover {
    background: white;
    position: relative;

}
    
#category a {
    text-decoration : none;
    text-align : center;
    color : black;
}

.sublist {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    padding: 0px;
    background: white;
}

.q-list li:hover .sublist {
    display: block;
    border: solid 5px rgb(196, 217, 195);
}

.kbook {
    width: 300px;
    height: 560px;
    z-index : 100;
}

.sublist-title {
    padding-left: 30px;
    text-decoration: underline;
    display: inline;
}

.sublist-list {
    display: flex;
}

.sublist-list ul {
    padding: 0px;
    width: 150px;
}

.kbook1 {
    border-right: 1px solid black;
}

.sublist-list li {
    font-size: 0.8rem;
    line-height: 2rem;
}

.sublist-list li:hover {
	text-decoration: underline;
}

.fbook {
    width: 200px;
    height: 550px;
    z-index : 100;
}

.ebook {
    width: 200px;
    height: 550px;
    z-index : 100;
    position: absolute;
    top : -50px;
}

.webcomic {
    width: 200px;
    height: 325px;
    z-index : 100;
}

.show {
    width: 200px;
    height: 260px;
    z-index : 100;
}

.used {
    width: 200px;
    height: 550px;
    z-index : 100;
    position: absolute;
    top : -200px;
}