@charset "UTF-8";
/*
* {margin:0;padding:0;border:0;}
        
a { 
    text-decoration: none;
    color: black;
}
*/
.csarea {
    display: flex;
}

/* 컨텐츠 */
.content {
    width: 70%;
}

.csctheader {
    height: 70px;
    display : flex;
    justify-content : space-between;	
    align-items: center;
    margin: 5px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.csctheader span:first-child {
    font-size: 1.3rem;
    font-weight : bold;
}

.csctheader span:last-child {
    font-size: 0.7rem;
}

.ctarea {
    height: 90%;
    position: relative;
}

.ct-area1, .ct-area2, .ct-area3, .ct-area4 {
    width: 280px;
    height: 200px;
    border: 5px solid rgb(73, 125, 78);
    position : absolute
}

.ct-area1 {
    left: 3%;
}

.ct-area2 {
    right: 3%;
}

.ct-area3 {
    top: 40%;
    left: 3%;
}

.ct-area4 {
    top: 40%;
    right: 3%;
}

.ct-top {
    font-size: 1rem;
    color: white;
    height: 35px;
    line-height: 35px;
    border-bottom: 5px solid rgb(73, 125, 78);
    text-align : center;
    background: rgb(73, 125, 78);
}

.ct-list {
    padding: 12px 0px 0px 50px;
    font-size: 0.8rem;
    line-height: 33px;
}

.ct-list li:hover {
    font-weight: bold;
    text-decoration: underline;
}