@charset "UTF-8";

/* csarea + content 화면마다 가져가기!! */
.csarea {
    display: flex;
}
/* 영역 묶어주기 */
.content {
    width: 72%;
}

/* 컨텐츠 헤더 */
.faqheader {
    height: 70px;
    display : flex;
    justify-content : space-between;	
    align-items: center;
    margin: 0px 0px 30px 0px;
    padding-left: 40px;
    padding-right: 40px;
  
}
.faqheader div:first-child {
    font-size: 1.1rem;
    font-weight : bold;
}

/* faq 검색창 */
.faqsearch {
    display: flex;
    align-items: center;
}
.faqsearch input {
    border: 3px solid rgb(73, 125, 78);
    border-right : 0px;
    width: 130px;
    height: 26px;
    padding-left: 10px;
    font-size: 0.8rem;
}

.faqsearch button {
	height: 26px;
}

.faqsearch button img {
    width: 23px;
    height: 26px;
    border: 3px solid rgb(73, 125, 78);
    border-left: 0px;
}

 /* 카테고리 분류 */
.typearea {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.typearrow {
	/* > */
    margin-left: 40px;
    margin-right: 20px;
    font-size: 1.8rem;
    font-weight: bold;
    /* span 가운데 줄맞춤은 line-height */
    line-height: 50px;
}

.type_area {
	/* select + img감싸고있는 div */
	position : relative;
}

.atype, .btype {
	/* select */
	border: 5px solid rgb(73, 125, 78);
    width: 220px;
    height: 50px;   
    font-size: 0.9rem;
    padding-left: 10px;
    z-index: 100;
}

.faqarrow {
	/*img감싸고있는 div*/
	height : 50px;
	position : absolute;
	top : 0;
	right : 15px;
	display : flex;
	justify-content: center;
	align-items : center;
	padding-top: 0px;
	z-index : 1;
}

.faqarrow img {
	width : 20px;
	height : 20px;
}



/* faq 리스트 */
.top3, .total {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 30px 40px 0px 40px;
    padding-left : 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

.top3_ul, .total_ul {
    display: flex;
    list-style: none;
    text-align: center;
    justify-content : space-between;
    align-items: center;
    margin: 0px 40px;
    height: 50px;
    border-bottom: 1px solid lightgray;
    font-size: 0.9rem;
}

/* 
.board_list>ul.last {
    border: 0;
}
*/

/* 분류 영역 없음 */
.faq_type, .faq_q {
	text-align: left;
	padding-left : 15px;
}
.faq_icon {
	padding-right : 15px;
}

/* 이건 분류영역 따로 지정 */
.total_ul .faq_type {
	width : 20%;	
}
.total_ul .faq_q {
	width : 75%;	
	text-align: left;
	padding-left : 0px
}
.total_ul .faq_icon {
	width : 5%;	
}



.top3_ul:hover {
    background: #f3f5f7;
}
.total_ul:hover {
    background: #f3f5f7;
}

