@charset "UTF-8";

html {
    font-size: 100%;
}

a {
    text-decoration: none;
}

#top {   
    height: 190px;

}

#top .page-title {
    text-align: center;
    /* font-size: 3rem;*/
}

/* 검색 창 */
.search_area {
    text-align: center;
    padding: 30px;
    /* 로고 사이 공백 */
}

/* 검색 창 select */
.search_area select {
    margin-right: 10px;
}

/* 검색창 내부 */
.input_area {
    border: 6px solid rgba(196, 217, 195, 1);
    padding: 5px 5px 10px 5px;
    margin-right: 10px;
    width: 100%;
}

.input_area input {
    width: 350px;
    height: 30px;
    border: 0px;
}

.mainlogo {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 20px;
}

h2 {
    text-align: center;
}

/* 내비 메뉴 장식 */

nav {
    background-color: rgba(196, 217, 195, 1);
    width: 100%;
}
.main-nav {
    list-style: none;
    text-transform: uppercase;
    font-size: 1.25rem;
    display: flex;
    margin-top: 10px;
    background-color: rgba(196, 217, 195, 1);
    margin-left: 60%;
    margin-bottom: 14px;
}

/* 내비 li 여백 */
.main-nav li {
    margin-left: 20px;
}

/* 내비 a 태그 */
.main-nav a {
    color: black;
    font-size: 14px;
    
}

.main nav a:hover {
    color: #0bd;
}

/* 로고 내비 수평 정렬 */
.page-header {
    display: flex;
    justify-content: space-between;
}

/*콘텐츠의 최대 출력 너비 설정 */
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}

/*
#nationality {
    background-color:rgba(196, 217, 195, 1);
    border : 1px solid white;
}
*/

.topline {
    border-bottom: 6px solid;
    color: rgba(196, 217, 195, 1);

}

.textbox {
    border : 1px solid rgba(196, 217, 195, 1);
    padding : 15px 35px;
    border-radius: 5px;
}

.textbox2 {
    border : 1px solid white;
    background-color: rgba(196, 217, 195, 1);
    padding : 15px 35px;
    border-radius: 5px;
}

/* center */

.main-center {
    width : 600px;
    height : 600px;
    margin : 800 800;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-center2 {
    width : 1000px;
    height : 600px;
    margin : 800 800;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    /*
    border : 1px solid black;
    */
}

.lofd {
    border : 1px solid white;
    padding : 30px;
}

#lolegend {
    font-size: 15px;
}

/* 아이디 이메일 저장 */
#emailcheck {
    font-size : 20px;
    color : blue;
}

/* 아이디 찾기 버튼*/
.idb {
    border : 1px solid rgba(196, 217, 195, 1);
    background-color: white;
    color: red;
    padding : 15px 35px;
    border-radius: 5px;
}

/* 비밀번호 찾기 버튼*/
.psb {
    border : 1px solid rgba(196, 217, 195, 1);
    background-color: white;
    color: red;
    padding : 15px 35px;
    border-radius: 5px;
}

/* 로그인 버튼 */
#lobut {
    width : 150px;
    height : 130px;
    position : absolute;
            top : 70px;
            left : 350px;
    background :#497D4E;
    color : white;
    text-align: center;
    font-size : 35px;
    padding : 20px;
}

/* 회원가입 버튼 */
.mbjoin{
    background-color: #c4d9c3;
    color : #497D4E;
    margin: 22px;
    width : 400px;
    height : 75px;
}

/* 간편로그인 */
.naverlogo {
    width : 100px;
    height : 100px;
}

.kakaologo {
    width : 130px;
    height : 130px;
}

.imgdiv {
    text-align : center;
}

/* 회원가입 */
/* 회원가입 테이블 */
.lotb{
    border-spacing: 10px;
}
/* 회원가입 텍스트박스 */
.lomb {
    border : 1px solid gray;
}

/* 중복확인 */
.check {
    border : 1px solid #497D4E;
    background : #497D4E;
    color : white;
    width : 100px;
    height : 20px;
}

/* 회웝가입 버튼 */
.joinme {
    width : 300px;
    height : 100px;
    position : absolute;
            top : 530px;
            left : 600px;
    background :#497D4E;
    color : white;
    text-align: center;
    font-size : 40px;
    padding : 20px;
}

/* 약관 텍스트 */
.termstext{
    font-size : 8px;
    color : gray;
}

/* 아이콘 크기 */
.terms{
    width : 14px;
    height : 14px;
}

/* footer */
/*
footer {
    background: #c4d9c3;
    text-align: center;
    padding : 20px 0;
    padding-bottom: 30px;
    margin-top: 800px;
}
*/

/* 아이디 찾기 화면 (id.html) */
/* 아이디 찾기 center div 1*/
.id1 {
    border : 4px solid blue;
    width : 650px;
    height : 520px;
    margin : 800 800;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size : 20px
}

/* 아이디 찾기 center div 2*/
.id2 {
    border : 4px solid grey;
    width : 600px;
    height : 450px;
    margin : 800 800;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style-position: inside;
    text-indent: 20px;
}

/* 가입 여부 확인하기*/
#Confirmbut {
    background : #497D4E;
    color : white;
    width : 230px;
    height : 50px;
}

/* 이메일로 문의하기 */
#emailquestion{
    border : 1px solid black;
    width : 150px;
    height : 30px;
    font-size : 14px;
}

/* 로그인 필요 없음*/
#idnologin{
    font-size : 12px;
}

.id3 {
    text-align: center;
}

.id1text{
    border: 1px solid black;
}

/* 아이디 찾기 화면2 (id2.html) */
.id2pagebut {
    width : 150px;
    height : 40px;
    background: #497D4E;
    color : white;
}

/* 비밀번호 찾기 화면(password.html) */
/* checked */
.psreset {
    font-size : 10px;
}

/* 비밀번호 찾기 center div*/
.ps1 {
    border : 4px solid blue;
    width : 650px;
    height : 680px;
    margin : 800 800;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size : 20px
}

/* 비밀번호 찾기 center div 2*/
.ps2 {
    border : 4px solid grey;
    width : 600px;
    height : 630px;
    margin : 800 800;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style-position: inside;
    text-indent: 20px;
}

/* 비밀번호 찾기 화면 2(passwrord2.html)*/
/* 비밀번호 찾기 center div*/
.ps3 {
    border : 4px solid blue;
    width : 650px;
    height : 600px;
    margin : 800 800;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size : 20px
}

/* 비밀번호 찾기 center div 2*/
.ps4 {
    border : 4px solid grey;
    width : 600px;
    height : 540px;
    margin : 800 800;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style-position: inside;
    text-indent: 20px;
}

/* 비밀번호 재설정 설명 */
#ps2explanation{
    text-align: left;
    color : red;
}

/*--------------------------------------------------------------------*/
/* 이메일 상담 div */
.emailconsulting {
    border : 4px solid #c4d9c3;
    width : 750px;
    height : 600px;
    margin : 800 800;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size : 15px
}

/* 이메일 테이블 */

.emailtable{    
    border-spacing: 10px;
    border-collapse: separate;
}


/* 테이블 th 사이즈*/
.emailtable th{
    /* border : 1px solid black; */
    width : 100px;
}

/* 테이블 textbox*/
.emailaddress {
    border : 1px solid black;
    width : 400px;
    height : 40px
}

/* 문의 내용 */
#emailarea{
    border : 1px solid black;
    width : 600px;
    height : 200px;
}

/* 이메일 접수하기 버튼 */
.emailbut{
    border : 1px solid black;
    width: 100px;
    height: 40px;
    position: absolute;
    top: 76%;
    right: 48%;
}


/*--------------------------------------------------------------------*/
/* 풋터 */
footer {
    background:rgba(196, 217, 195, 1);
    text-align: center;
    padding : 26px 0;
    position: absolute;
    bottom: 0;
    width: 100%;    
}

footer p {
    color : black;
    font-size : 0.865rem;
}
