@charset "UTF-8";
/* mypage css 추가*/
html {
    font-size: 100%;
}

a {
    text-decoration: none;
}

.category {
    width : 18%;
    height : 700px;
    background : rgb(196, 217, 195);
    line-height: 1em;
}

.ca-head {
    text-align : center;
    height : 70px;
    display : flex;
    justify-content : center;	
    align-items: center;
    font-size : 1.3rem;
    font-weight : bold;
    background : white;
    border : solid 5px rgb(196, 217, 195);
}

.area1, .area2, .area3, .area4 {
    background : white;
    border : solid 5px rgb(196, 217, 195);
    border-top: 0px;
    padding : 0px;
    padding: 10px 0px 10px 0px;
    line-height: 20px;
}

.ca-top {
    font-size: 0.9rem;
    font-weight : bold;
    padding-left : 18px;
    line-height: 20px;
}


.ca-list {
    font-size: 0.1rem;
    line-height: 2rem;
    padding: 10px 0px 0px 40px;
    line-height: 20px;
}

.ca-list li:hover {
    font-weight: bold;
    text-decoration: underline;
}
